################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sharpfirst/obj
/sharpfirst/bin/Debug/net8.0
